.typography {

  .text {
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Poppins;

    &.h1 {
      font-size: 1.5em;
      font-weight: 520;
      letter-spacing: 0.028em;
      color: #616c7d;
    }

    &.h2 {
      font-size: 1.25em;
      font-weight: 520;
      letter-spacing: 0.028em;
      color: #616c7d;
    }

    &.heading {
      font-size: 1.125em;
      font-weight: 520;
      letter-spacing: 0.028em;
      color: #616c7d;
    }

    &.interactive {
      font-weight: 600;
      font-size: 0.875em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #404753;
    }

    &.body1 {
      font-size: 0.875em;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.83);
    }

    &.body2 {
      font-size: 0.75em;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.83);
    }

    &.caption {
      font-size: 0.75em;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.4);
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    &.secondary {
      font-size: 0.75em;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.4);
      letter-spacing: 0.1em;
    }
  }

}
