.card {
  border: none !important;
  box-sizing: border-box;
  background-color: #fff;
  padding: 48px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

  &.disabled {
    pointer-events: none;

    .card__content {
      opacity: 0.3;
    }
  }

  .card__titlebar {
    margin-bottom: 48px;

    .card__titlebar-title {
      margin-bottom: 12px;
    }

    .card__titlebar-subtitle {
      min-width: 100%;
      width: 0;
    }
  }
}
