.table {
  width: 100%;

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      border-bottom: 1px solid #e1eaf5;

      th, td {
        border-top: none !important;
        text-align: right;

        &:first-child {
          text-align: left;
        }
      }

      th {
        padding: 16px 8px;
      }

      td {
        padding: 18px 8px;
      }

      &:last-child {
        border: none;
      }
    }

  }
}
